@using Library_App.Entities
@model Library_App.Models.Order.OrderCreateBindingModel

<form asp-controller="Order" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <div class="mr-1">
            <label class="font-weight-bold text-left mr-1" asp-for="EmployeeId">Employee:</label>
            <select asp-for="EmployeeId" class="form-control">
                @foreach (var employee in Model.Employees)
                {
                    <option value="@employee.Id">@employee.EmployeeName</option>
                }
            </select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mr-1">
            <label class="font-weight-bold text-left mr-1" asp-for="Count">Quantity:</label>
            <input asp-for="Count" class="form-control" min="1" max="@Model.Count" value="1" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        @if (Model.IsTaken != "taken")
        {
            <button type="submit" class="btn btn-danger">Take</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger" disabled>Take</button>
        }
    </div>
    <input type="hidden" asp-for="SignatureId" value="@Model.SignatureId">
</form>